USE [QuanLy]
GO
/****** Object:  Table [CUSTOMER]    Script Date: 12/1/2020 4:38:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [CUSTOMER](
	[C_ID] [int] NOT NULL,
	[CNAME] [varchar](50) NULL,
	[ADDRESS] [varchar](75) NULL,
	[PHONE_NUMBER] [bigint] NULL,
	[EMAIL] [varchar](25) NULL,
PRIMARY KEY CLUSTERED 
(
	[C_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [ORDER_DETAILS]    Script Date: 12/1/2020 4:38:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ORDER_DETAILS](
	[ORD_ID] [int] NOT NULL,
	[PID] [int] NOT NULL,
	[QUANTITY] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[PID] ASC,
	[ORD_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [PRODUCT]    Script Date: 12/1/2020 4:38:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [PRODUCT](
	[PID] [int] NOT NULL,
	[PNAME] [varchar](50) NULL,
	[AMOUNT] [bigint] NULL,
	[VID] [int] NULL,
 CONSTRAINT [PK__PRODUCT__C577552000A65713] PRIMARY KEY CLUSTERED 
(
	[PID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [MYORDER]    Script Date: 12/1/2020 4:38:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [MYORDER](
	[ORD_ID] [int] NOT NULL,
	[PID] [int] NULL,
	[CID] [int] NULL,
	[DATE] [date] NULL,
	[AMOUNT] [bigint] NULL,
 CONSTRAINT [PK__MYORDER__EED676032ED92A51] PRIMARY KEY CLUSTERED 
(
	[ORD_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [ORDER_VIEW]    Script Date: 12/1/2020 4:38:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [ORDER_VIEW] AS
SELECT M.ORD_ID,C.C_ID,C.CNAME,C.ADDRESS,C.PHONE_NUMBER,C.EMAIL,D.PID,P.PNAME,D.QUANTITY,M.AMOUNT,M.DATE
FROM MYORDER M JOIN ORDER_DETAILS D ON M.ORD_ID = D.ORD_ID,CUSTOMER C,PRODUCT P
WHERE M.CID = C.C_ID AND P.PID = D.PID;
GO
/****** Object:  Table [STOCK]    Script Date: 12/1/2020 4:38:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [STOCK](
	[PID] [int] NOT NULL,
	[QUANTITY] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[PID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [CURRENTLY_AVAILABLE_STOCK]    Script Date: 12/1/2020 4:38:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [CURRENTLY_AVAILABLE_STOCK] 
AS
SELECT P.PID,P.PNAME,P.AMOUNT,S.QUANTITY
FROM PRODUCT P JOIN STOCK S ON P.PID = S.PID;
GO
/****** Object:  Table [VENDOR]    Script Date: 12/1/2020 4:38:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [VENDOR](
	[VID] [int] NOT NULL,
	[VNAME] [varchar](50) NULL,
	[ADDRESS] [varchar](75) NULL,
	[PHONE_NUMBER] [bigint] NULL,
	[EMAIL] [varchar](25) NULL,
PRIMARY KEY CLUSTERED 
(
	[VID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [PRODUCT_VIEW]    Script Date: 12/1/2020 4:38:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [PRODUCT_VIEW] AS
SELECT P.PID,P.PNAME,P.AMOUNT,P.VID,V.VNAME
FROM PRODUCT P JOIN VENDOR V ON P.VID=V.VID;
GO
/****** Object:  Table [LOGIN]    Script Date: 12/1/2020 4:38:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [LOGIN](
	[UserName] [varchar](25) NOT NULL,
	[Password] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserName] ASC,
	[Password] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [CUSTOMER] ([C_ID], [CNAME], [ADDRESS], [PHONE_NUMBER], [EMAIL]) VALUES (1, N'Minh', N'Nghia Tan', 345104821, N'minh@gmail.com')
INSERT [CUSTOMER] ([C_ID], [CNAME], [ADDRESS], [PHONE_NUMBER], [EMAIL]) VALUES (2, N'Tuyen', N'Hoang Quoc Viet', 345104822, N'tuyen@gmail.com')
INSERT [CUSTOMER] ([C_ID], [CNAME], [ADDRESS], [PHONE_NUMBER], [EMAIL]) VALUES (3, N'Thanh', N'HoTungMau', 345104823, N'thanh@gmail.com')
GO
INSERT [LOGIN] ([UserName], [Password]) VALUES (N'admin', N'admin')
GO
INSERT [MYORDER] ([ORD_ID], [PID], [CID], [DATE], [AMOUNT]) VALUES (1, 1, 1, CAST(N'2020-11-30' AS Date), 650000)
GO
INSERT [ORDER_DETAILS] ([ORD_ID], [PID], [QUANTITY]) VALUES (1, 1, 1)
GO
INSERT [PRODUCT] ([PID], [PNAME], [AMOUNT], [VID]) VALUES (1, N'Logitech 402', 650000, 1)
INSERT [PRODUCT] ([PID], [PNAME], [AMOUNT], [VID]) VALUES (2, N'Jordan1', 4500000, 2)
INSERT [PRODUCT] ([PID], [PNAME], [AMOUNT], [VID]) VALUES (3, N'DCShirt', 35000, 3)
GO
INSERT [STOCK] ([PID], [QUANTITY]) VALUES (1, 1)
INSERT [STOCK] ([PID], [QUANTITY]) VALUES (2, 1)
GO
INSERT [VENDOR] ([VID], [VNAME], [ADDRESS], [PHONE_NUMBER], [EMAIL]) VALUES (1, N'PhongVu', N'XuanThuy', NULL, N'phongvu@gmail.com')
INSERT [VENDOR] ([VID], [VNAME], [ADDRESS], [PHONE_NUMBER], [EMAIL]) VALUES (2, N'Nike', N'HoanKiem', NULL, N'nike@gmail.com')
INSERT [VENDOR] ([VID], [VNAME], [ADDRESS], [PHONE_NUMBER], [EMAIL]) VALUES (3, N'DirtyCoins', N'CauGiay', NULL, N'dc@gmail.com')
GO
ALTER TABLE [MYORDER]  WITH CHECK ADD  CONSTRAINT [FK2] FOREIGN KEY([PID])
REFERENCES [PRODUCT] ([PID])
ON DELETE CASCADE
GO
ALTER TABLE [MYORDER] CHECK CONSTRAINT [FK2]
GO
ALTER TABLE [MYORDER]  WITH CHECK ADD  CONSTRAINT [FK3] FOREIGN KEY([CID])
REFERENCES [CUSTOMER] ([C_ID])
ON DELETE CASCADE
GO
ALTER TABLE [MYORDER] CHECK CONSTRAINT [FK3]
GO
ALTER TABLE [ORDER_DETAILS]  WITH CHECK ADD  CONSTRAINT [F6] FOREIGN KEY([ORD_ID])
REFERENCES [MYORDER] ([ORD_ID])
ON DELETE CASCADE
GO
ALTER TABLE [ORDER_DETAILS] CHECK CONSTRAINT [F6]
GO
ALTER TABLE [ORDER_DETAILS]  WITH CHECK ADD  CONSTRAINT [F7] FOREIGN KEY([PID])
REFERENCES [PRODUCT] ([PID])
GO
ALTER TABLE [ORDER_DETAILS] CHECK CONSTRAINT [F7]
GO
ALTER TABLE [PRODUCT]  WITH CHECK ADD  CONSTRAINT [FK1] FOREIGN KEY([VID])
REFERENCES [VENDOR] ([VID])
ON DELETE CASCADE
GO
ALTER TABLE [PRODUCT] CHECK CONSTRAINT [FK1]
GO
ALTER TABLE [STOCK]  WITH CHECK ADD  CONSTRAINT [FK4] FOREIGN KEY([PID])
REFERENCES [PRODUCT] ([PID])
ON DELETE CASCADE
GO
ALTER TABLE [STOCK] CHECK CONSTRAINT [FK4]
GO
/****** Object:  StoredProcedure [customer_in]    Script Date: 12/1/2020 4:38:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [customer_in] 
	@cid int,
	@cname varchar(50),
	@address varchar(75),
	@phone_number bigint,
	@email varchar(25)
AS
	INSERT INTO CUSTOMER VALUES(@cid,@cname,@address,@phone_number,@email);

GO
